CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.vcxproj
*.filters
*.sln
*.db
*.user
*.suo
*.pdb
*.tlog
*.obj
*.log
*.ilk
*.lib
*.exe
*.cache
*.opendb
build/.vs/config/applicationhost.config